#container{

    width:auto;
    height: 1200px;
    border:solid rgb(80, 80, 80) 3px;
    padding:10px;

}
#navbar{

    width:auto;
    height: 47px;
    border:solid rgba(45, 45, 46, 0.067) 3px;
    background-color: rgba(77, 77, 74);
    font-size: 40px;
    align-self: center;
    

}
.navbarButton{

    width:100px;
    height:100px;
    color:rgb(40, 71, 77);
    background-color: rgb(189, 189, 189);
    border: solid grey 2px;


}
.navbarButton:hover {
    background-color: rgb(77, 77, 74);
    color:white;
  }
body{
    background-color: rgb(216, 216, 216);
    align-items: center;

}
#loginDiv{
    background-color: rgb(82, 82, 76);
    border: solid rgb(82, 82, 75) 2px;
    height:800px;
    text-align: center;
}
.textBox{
    background-color: lightblue;
    
}