#container{

    width:auto;
    height: 1200px;
    border:solid rgb(189, 189, 189) 3px;
    background-color: rgb(189, 189, 189);
    padding:10px;
    border-radius: 2%;

}
#navbar{

    width:auto;
    height: 47px;
    border:solid rgba(45, 45, 46, 0.067) 3px;
    background-color: rgba(77, 77, 74);
    font-size: 40px;
    align-self: center;
    

}
.navbarButton{

    width:100px;
    height:100px;
    color:rgb(40, 71, 77);
    background-color: rgb(189, 189, 189);
    border: solid grey 2px;


}
.navbarButton:hover {
    background-color: rgb(77, 77, 74);
    color:white;
  }
body{
    background-color: rgb(216, 216, 216);
    align-items: center;
    border-radius: 2%;

}
#loginDiv{
    background-color: rgb(129, 156, 158);
    height:98%;
    text-align: center;
    font-size: 30px;
    padding:10px;
    border-radius: 2%;
    box-shadow:   4px 2px rgb(91, 108, 109);
    
}
#submit{
    font-size: 60px;
}
.textBox{
    background-color: lightblue;
    font-size: 30px;
}