#container{

    width:auto;
    height: 1200px;
    border:solid rgb(180, 180, 180, 0.308) 3px;
    background-color: rgba(180, 180, 180, 0.089);
    padding:10px;

}
#navbar{

    width:auto;
    height: 47px;
    border:solid rgb(199, 199, 199) 3px;
    background-color: rgb(173, 173, 173);
    font-size: 40px;
    align-self: center; 

}
.navbarButton{

    width:100px;
    height:100px;
    color:rgb(40, 71, 77);
    background-color: rgb(221, 221, 221);
    border: solid grey 2px;


}

.navbarButton:hover {
    background-color: rgb(77, 77, 74);
    color:white;
  }
body{
    background-color: rgba(190, 186, 186, 0.418);
    align-items: center;
    border-radius: 2%;

}
#loginDiv{
    background-color: rgb(129, 156, 158);
    height:98%;
    text-align: center;
    font-size: 30px;
    padding:10px;
    border-radius: 2%;
    box-shadow: 4px 2px rgb(91, 108, 109);
    
}
#submit{
    font-size: 60px;
}
.textBox{
    background-color: lightblue;
    font-size: 30px;
}
.informationBox{
    width: 35%;
    background-color: rgb(196, 193, 193);
    padding:1%;
    border:solid rgb(83, 83, 83);
    float:left;


}
.biggerInfoBox{
    width: 59%;
    background-color: rgb(196, 193, 193);
    padding:1%;
    border:solid rgb(83, 83, 83);
    float: right;

}
#graphBox{
    width: 59%;
    background-color: rgb(196, 193, 193);
    padding:1%;
    border:solid rgb(83, 83, 83);
    float: right;

}
#title{
    text-decoration: underline;
    text-align: center;
}
#blockOfText{

    width: 98%;
    background-color: rgb(196, 193, 193);
    padding:1%;
    border:solid rgb(83, 83, 83);
    float: center;

}