#container{

    width:auto;
    height: 1200px;
    border:solid rgba(209, 133, 133, 0.137);
    background-color: rgba(255, 242, 227);
    padding:10px;
    
}
#navbar{

    width:auto;
    height: 47px;
    border:solid rgb(187, 176, 176, 0.137) 3px;
    background-color: rgb(227, 255, 231);
    font-size: 40px;
    align-self: center; 

}
.navbarButton{

    width:100px;
    height:100px;
    color:rgb(40, 71, 77);
    background-color: rgb(227, 255, 250);
    border: solid 1px lightblue;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
}

.navbarButton:hover {
    background-color: rgb(78, 78, 78);
    color:white;
  }
body{
    background-color: rgb(253, 180, 180);
    align-items: center;
    border-radius: 2%;

}
#loginDiv{
    background-color:  rgb(138, 255, 210);
    height:98%;
    text-align: center;
    font-size: 30px;
    padding:10px;
    border-radius: 2%;
    box-shadow: 4px 2px rgb(196, 174, 153);
    
}
#submit{
    font-size: 60px;
}
.textBox{
    background-color: lightblue;
    font-size: 30px;
}
.informationBox{
    width: 35%;
    background-color: rgb(156, 235, 241, 0.479);
    padding:1%;
    border:solid rgba(255, 242, 227);
    float:left;
   

}
.biggerInfoBox{
    width: 59%;
    background-color: rgb(156, 235, 241, 0.479);
    padding:1%;
    border:solid  rgba(255, 242, 227);
    float: right;

}
#graphBox{
    width: 59%;
    background-color: rgba(156, 235, 241, 0.493);
    padding:1%;
    border:solid  rgba(255, 242, 227);
    float: right;
    

}
#title{
    text-decoration: underline;
    text-align: center;
}
#blockOfText{

    width: 97%;
    background-color: rgba(156, 235, 241, 0.479);
    padding:1%;
    border:solid  rgba(255, 242, 227);
    float: center;

}
